body {
    padding: 0;
    margin: 0;
}

.fast {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
}

.medium {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}

.slow {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
}

.fade {
    -webkit-mask-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0%, rgba(0, 0, 0, 0)),
            color-stop(25%, rgba(0, 0, 0, 1)),
            color-stop(75%, rgba(0, 0, 0, 1)),
            color-stop(100%, rgba(0, 0, 0, 0))
    );
}

.floor {
    width: 90%;
    padding: 75px 5%;
    background-color: #DCD293;
    border-top: 20px dotted #A48E4E;
}

.font40 {
    font-size: 40px;
}

.font30 {
    font-size: 30px;
}

.font18 {
    font-size: 18px;
}

.button {
    width: 100px;
    height: 100px;
    overflow: hidden;
    -moz-box-shadow: inset 0px 1px 0px 0px #fce2c1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fce2c1;
    box-shadow: inset 0px 1px 0px 0px #fce2c1;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
    background-color: #ffc477;
    border-radius: 75px;
    text-indent: 0px;
    border: 6px solid #eeb44f;
    display: inline-block;
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    height: 100px;
    line-height: 100px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #cc9f52;
    margin-left: 50px;
    cursor: pointer;
}

.machine {
    background-image: url(http://strip.alicdn.com/L1/377/967/1zE8prai4SwA.png);
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-position-x: 0px;
    background-position-y: 0px;
    border: 5px solid #000;
    display: inline-block;
    text-align: center;
    overflow: hidden;
}

.px {
    width: 64px;
    height: 90px;
}